<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-md ">
    <nav class="navbar navbar-inverse">
      <div class="container aa">
        <div class="navbar-header">
          {{!-- <a class="navbar-brand">ADMIN</a> --}}
          <h1 class="navbar-brand">Clother</h1>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="http://localhost:8080/home">Home</a></li>
          <li><a href="http://localhost:8080/account">Acount</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://localhost:8080/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a onclick="loginSuccess()" href="http://localhost:8080/login"><span
                class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </nav>
  </nav>
</body>

</html>